<head>
    <title>Wonder of Disney Music - {{page.title}}</title>
    <link rel="stylesheet" href="../assets/css/style.css?{{ site.time | date_to_xmlschema }}">
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-NDTWJMVF4E"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="../assets/js/main.js?{{ site.time | date_to_xmlschema }}"></script>
    <script src="../assets/js/qr-scanner.umd.min.js"></script>
    <link rel="apple-touch-icon-precomposed" sizes="57x57"
          href="https://d23.com/app/themes/d23/assets/dist/images/favicons/apple-touch-icon-57x57.png"/>
    <link rel="apple-touch-icon-precomposed" sizes="114x114"
          href="https://d23.com/app/themes/d23/assets/dist/images/favicons/apple-touch-icon-114x114.png"/>
    <link rel="apple-touch-icon-precomposed" sizes="72x72"
          href="https://d23.com/app/themes/d23/assets/dist/images/favicons/apple-touch-icon-72x72.png"/>
    <link rel="apple-touch-icon-precomposed" sizes="144x144"
          href="https://d23.com/app/themes/d23/assets/dist/images/favicons/apple-touch-icon-144x144.png"/>
    <link rel="apple-touch-icon-precomposed" sizes="120x120"
          href="https://d23.com/app/themes/d23/assets/dist/images/favicons/apple-touch-icon-120x120.png"/>
    <link rel="apple-touch-icon-precomposed" sizes="152x152"
          href="https://d23.com/app/themes/d23/assets/dist/images/favicons/apple-touch-icon-152x152.png"/>
    <link rel="icon" type="image/png" href="https://d23.com/app/themes/d23/assets/dist/images/favicons/favicon-32x32.png" sizes="32x32"/>
    <link rel="icon" type="image/png" href="https://d23.com/app/themes/d23/assets/dist/images/favicons/favicon-16x16.png" sizes="16x16"/>
    <link rel="icon" type="image/x-icon" href="https://d23.com/app/themes/d23/favicon.ico" sizes="16x16 32x32">
    <meta name="application-name" content="&nbsp;"/>
    <meta name="msapplication-TileColor" content="#FFFFFF"/>
    <meta name="msapplication-TileImage" content="https://d23.com/app/themes/d23/assets/dist/images/favicons/mstile-144x144.png"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:url"                content="{{site.url}}{{page.url}}" />
    <meta property="og:title"              content="{{page.title}}" />
    <meta property="og:description"        content="{{page.description}}" />
    <meta property="og:image"              content="https://wonderofdisneymusic.com/assets/images/disney-100-logo.png" />
</head>