<nav>
    <div class="mobile-menu">
        <div class="social">
            <a href="https://www.facebook.com/share.php?u=https://wonderofdisneymusic.com{{ page.share-url }}" target="_blank"><img class="share-icon" src="../assets/images/facebook-icon.png" /></a>
            <a href="http://twitter.com/share?text={{ page.title}}&url=https://wonderofdisneymusic.com{{ page.share-url }}"><img class="share-icon" src="../assets/images/twitter-icon.png" /></a>
        </div>
        <img class="menu-icon" id="mobile_menu_button" src="../assets/images/hamburger-icon.png" />
    </div>
</nav>
{% include mobile-nav.html %}
